@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  overflow-y: auto;
}

/* Root variables (theme colors and custom values) */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-card: #f3f4f6; /* Tailwind gray-100 */
  --color-bgGradient: linear-gradient(-180deg, #ff8198, #f9d9df, #fafef8);
  --color-bgLanding: #ff8198;
}

.bg-nav {
  @apply bg-gradient-to-r from-[#ff8198]/20 via-white to-white/20;
}

.bg-landing {
  background: var(--color-bgLanding);
}

html {
  font-family: "Noto Sans Thai", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
  scroll-behavior: smooth;
}

.card {
  background-color: var(--color-card);
  padding: 1rem;
  border-radius: 0px;
  transition: background-color 0.3s;
}

#hero-title {
  font-family: 'JetBrains Mono', monospace;
}